@import "tailwindcss";

@theme {
  --color-primary: #16b4a9;
  --color-secondary: #4e6aff;
  --color-accent: #ffa100;
  --color-danger: #ff4d69;
  --color-warning: #ffde59;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  min-height: 100vh;
}
